@font-face {
    font-family: 'IRANSansXLight';
    src: url('./../../Fonts/iransansX family/IRANSansX-Light.ttf') format('truetype');
    font-family: "IRANSansXBold";
    src: url("./../../Fonts/iransansX family/IRANSansX-Bold.ttf") format("truetype");

}


.header-box {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 100;

    
}


.header-text {
    font-size: 20px;
    font-family: 'IRANSansXLight';
    color: #37251B;
}


.basket-items {

    display: flex;
    flex-direction: column;



}

.basket-description p {

    margin-right: 35px;
    font-family: 'IRANSansXBold';
    color: #37251B;
    font-size: 25px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.basket-description textarea {
    display: block;
    width: 80%;
    padding: 10px;
    border: 2px solid rgba(55, 37, 27, 25%);
    border-radius: 5px;
    font-size: 1em;
    line-height: 2em;
    resize: vertical;
    box-sizing: border-box;
    direction: rtl;
    font-family: "IRANSansXLight";
    color: #37251B;
    position: absolute;
    left: 10%;

}

.basket-description textarea:focus {
    border: 2px solid #37251B;
    outline: none;
    box-shadow: none;

}


.basket-detail .detailtitle {
    color: #AAAAAA;
    font-family: 'IRANSansXLight';
    display: flex;
    float: right;
    margin-top: 150px;
    position: absolute;
    right: 5%;

}

.basket-detail .detailprice {
    font-family: 'IRANSansXLight';
    display: flex;
    float: left;
    position: absolute;
    color: #AAAAAA;
    left: 23%;
    margin-top: 150px;

}

.basket-detail .detailtooman {
    font-family: 'IRANSansXLight';
    display: flex;
    float: left;
    position: absolute;
    color: #AAAAAA;
    left: 20%;
    margin: 150px 20px 10px -30px ;

}

.basket-footer .detailtitle {
    color: #AAAAAA;
    font-family: 'IRANSansXLight';
    display: flex;
    float: right;
    margin-top: 150px;
    position: absolute;
    right: 5%;

}

.basket-footer .detailprice {
    font-family: 'IRANSansXLight';
    display: flex;
    float: left;
    position: absolute;
    color: #AAAAAA;
    left: 23%;
    margin-top: 150px;

}

.basket-footer .detailtooman {
    font-family: 'IRANSansXLight';
    display: flex;
    float: left;
    position: absolute;
    color: #AAAAAA;
    left: 20%;
    margin: 150px 20px 10px -30px ;

}
.basket-footer button{
    font-family: "IRANSansXMedium";
    width: 300px;
    height: 40px;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
}
#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
.plusbutton{
    position: fixed;
  bottom: 50px;
  left: 20px;
  z-index: 10;
  border-radius: 50px;
}
.button-bottom {
    position: sticky;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px 0;
  z-index: 1;
}