
@media(max-width:601px){
    @font-face {
        font-family: 'IRANSSansXLight';
        src: url('./../../Fonts/iransansX family/IRANSansX-Light.ttf') format('truetype');
        font-family: "IRANSansXBold";
        src: url("./../../Fonts/iransansX family/IRANSansX-Bold.ttf") format("truetype");
        
    }
    .All1{
        margin-left: 50px;
    }
    .t1{
       
        font-family:'IRANSansXBold';
        margin-top: 50px;  
        display: flex;
        justify-content: end;
        color: #37251B;
        font-size: 30px;
    }
    .t2{
        font-family: 'IRANSansXLight';
        margin-top: -15px;
        margin-right: 0; 
        display: flex;
        justify-content: end; 
        color: #AAAAAA;
        font-size: 12px;
    }
    
    .login-button{
       margin-right: 30px;
       margin-top: -45px;
    }
  
    .icon{
        color: #37251b;
        margin: -80px 10px 60px 265px;
        /* right: 25%; */
  
    }
    .input{
        margin: 0;
      
    }
    .ciread{
      color: #37251B;
      margin: -55px 320px 55px 45px;
      
    }
   
    .link1{
        font-family: 'IRANSansXLight';
        width: 299px;
        height: 21px;
        left: 60px;
        top: 510px;
        margin-left: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        
      
    }
    .color{
        color: #37251B;
        text-decoration: none;
    }
      
    .link2{
        font-family: 'IRANSansXLight';
        position: relative;
        width: 299px;
        height: 21px;
        display: flex;
        justify-content: end;
        top: 170px;
        left: -70px; 
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        color: #37251B;
        text-decoration: none;
      
    }
      
    .Account{
        font-family: 'IRANSansXLight';
        width: 299px;
        height: 21px;
        left: 60px;
        margin-top: 150px;
        margin-left: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        color: #37251B;
        display: flex;
        justify-content: end;
    }
    .ciread {
        color: #37251b;
        margin: -95px 0 0 0;
      }
    .a{
        font-family: 'IRANSansXLight';
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
  .main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: rgb(255, 255, 255);
  }
  .existaccount {
    font-family: "IRANSansXLight";
    color: #aaaaaa;
    font-size: 14px;
  }
  .enter {
    font-family: "IRANSansXLight";
    color: #37251b;
    font-size: 14px;
    /* margin-right: 4px; */
  }


  }









