
@media(max-width:600px){
    @font-face {
        font-family: 'IRANSansXLight';
        src: url('./../../../Fonts/iransansX family/IRANSansX-Light.ttf') format('truetype');
    }
    .Horizantal_Line{
        border:  1px solid #C1C7D0;
        width: 300px;
        margin: 8px 3px -86px 44px ; 

    }
    
    .Vertical_Line{
        
        direction: rtl;
        border: 1px solid #C1C7D0;
        height: 25px;
        position: absolute;
        margin: 50px 3px 0px 290px;
    }
    input{
        font-family: 'IRANSansXLight';
        direction: rtl;
        width: 234px;
        display: flex;
        justify-content: center;
        margin: 55px 46px 10px  ;
        border: none;
    }
    input:focus{
        outline: none;
    }

}