
  @media(max-width:600px){
    @font-face {
        font-family: 'IRANSSansXLight';
        src: url('./../../Fonts/iransansX family/IRANSansX-Light.ttf') format('truetype');
        font-family: "IRANSansXBold";
        src: url("./../../Fonts/iransansX family/IRANSansX-Bold.ttf") format("truetype");
        
    }
    .All2{
      margin-left: 50px;
    }
    .t001{
      font-family:'IRANSansXBold';
      margin-top: 50px; 
      margin-right: 10px;  
      display: flex;
      justify-content: end;
      color: #37251B;
      font-size: 30px;
      padding-right:110px;
    }
    .t002{
      font-family: 'IRANSansXLight';
      margin-top: -20px; 
      margin-right: 10px;  
      display: flex;
      justify-content: end; 
      color: #AAAAAA;
      font-size: 12px;
      padding-right: 110px;
    }
    
    .button{
      margin: 10px 60px 5px 60px;

    }
  
    .icon{
      color: #37251B;
      display: flex;
      justify-content: end;
      padding: 46px 40px 20px 5px;
      
    }
    .input{
      margin: 20px 0 10px 0 ;
      
    }
   
    .Emailbox{
      margin: -17px 25px 50px 40px;
    }
  
  }