.Payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .Payment-header .title{

} */
.Payment-line{
    position: absolute;
    width: 42vw;
    border: 1px solid #C1C7D0;
    
}
.Payment-wallet{
    position: absolute;
    bottom:290px;
}

.Payment input[type="radio"]:checked {
    background-color: #AAAA;
  }

  .css-ahj2mt-MuiTypography-root {
    margin: 0;
    font-family: "IRANSansXLight", sans-serif !important;
}